body{
	
}
h1{
	text-align: center;
}
.userBloc .playBloc{
	/*border: solid 2px blue;*/
	/*margin: 10px;*/
	height: 30px;
	font-size: 14px;
}

.player1Bloc{
	border: solid 2px green;
	height: 180px;
}

.player1GameBloc{
	border: solid 2px blue;
	height: 300px;
	margin: 5px;
	text-align: center;
}

.outcomeBloc{
	border: solid 2px blue;
	height: 200px;
	margin: 5px;
	text-align: center;
}

.player2Bloc{
	border: solid 2px green;
	height: 180px;
}

.player2GameBloc{
	border: solid 2px blue;
	height: 300px;
	margin: 5px;
	text-align: center;

}

.player1NameBloc{
	border: solid 2px orange;
}
.player2NameBloc{
	border: solid 2px orange;
}

.messageBloc{
	border: solid 2px blue;
	height: 100px;
}

#choice{
	font-size: 16;
}

#dispChoice{
	font-size: 20;
}

button{
	margin: 4px;
}